body { background-color: #333; }
.bgred, .floatable { background-color: red; }
.bgblue, .line { background-color: blue; color: white; white-space: nowrap; overflow: hidden; }
.title { background-color: #CCC; font-weight: bold; text-align: center; border: 3px solid #0D0; }
