@font-face { font-family: myfont; src: url('times.ttf'); }
body { font-family: myfont; }
img { border: 1px solid black; }
.bgred { background-color: red; }
.line { color: #000; white-space: nowrap; }
.title { background-color: #CCC; font-weight: bold; text-align: center; border: 3px solid #0D0; border-left: none; border-right: none; }
.rel { position: relative; height: 14pt; }
.inner { position: absolute; top: 0; }
